

.main_pop{
    
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 98.8vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.773);
}

/* .module_section{
    
    width: 500px;
    color: white;   
    background-color: white;
    height: 180px;
    border: 0.2px solid black;
    
} */